html, body{
		margin-left:15px;
		margin-right:15px;
		padding:0px;
		font-family:Verdana, Arial, Helvetica, serif;
		background-color: rgb(186, 189, 182);
}

h1{
	margin-left:15px;
	margin-right:850px;
	padding:10px;
	 font-size: 40px;
	 font-family: Verdana, sans-serif;
	 font-style: italic;
	 color:black;
	 text-shadow: 2px 2px;
	 box-shadow: 10px 10px 5px grey;
}

table{
	font-family: Arial, rgb(46, 52, 54)etica, sans-serif;
    border-collapse: collapse;
}

th,td{
	padding:15px;
	text-align:center;
	border: 1px solid #ddd;

}





